<div class="form-group">
    <input type="number" name="value" [(ngModel)]="value">
    <button (click)="addToArray(value)">Add to array</button>
    <button *ngIf="display" (click)="reset()">Reset</button>
    <div *ngIf="display">
        <p>Better price to buy is: {{min}}</p>
        <p>Better price to sell is: {{max}}</p>
        <p>The profit is: {{result}}</p>
    </div>
</div>